body {
    font-family: 'Rammetto One', cursive;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(115, 255, 73)
}

h4 {
    color: rgb(115, 255, 73)
}

a {
    text-decoration: none !important;
}

.btn-txt {
    color: rgb(58, 255, 206) !important;
}

.btn-survey {
    color: rgb(58, 255, 206);
}

.btn,
.btn-block {
    background-color: rgb(62, 21, 245);
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0);
}

hr {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255)
}